.bg {
    /* The image used */
    background-image: url("./login.jpg");


    /* Half height */
    height: 50%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg .container {
    background-color: rgba(253, 253, 253, 0.5);
}