{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="display-4">Templates</h1>
                <ul>
                    <li><a href="{{ path('templates.photo.gallery') }}">Photo gallery</a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}